html,
body {
  font-size: 15px;
  -webkit-tap-highlight-color: rgba($pink, 0.05);
}

a {
  font-weight: normal;
  transition: all 0.05s ease-in;
}

.table {
  word-wrap: break-word;
}

.el-dialog__body {
  word-break: break-word;
}

.sm-gutters {
  margin-right: -8px;
  margin-left: -8px;

  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.b-avatar .b-avatar-img img {
  object-fit: cover;
}

.font-body {
  font-family: $font-family-base;
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  // background: #f7f7f7 url(loader.gif) no-repeat center;
}

.is-transition {
  transition: all 0.1s ease-in;
}

.bg-fixed {
  background-size: cover;
  background-attachment: fixed;
}

.bg-info-light {
  background-color: rgba(2, 182, 179, 0.12) !important;
  color: #1db9aa !important;
}
.bg-primary-light {
  background-color: rgba(17, 148, 247, 0.12) !important;
  color: #2196f3 !important;
}
.bg-danger-light {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
}
.bg-warning-light {
  background-color: rgba(255, 152, 0, 0.12) !important;
  color: #f39c12 !important;
}
.bg-success-light {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
}
.bg-purple-light {
  background-color: rgba(197, 128, 255, 0.12) !important;
  color: #c580ff !important;
}
.bg-default-light {
  background-color: rgba(40, 52, 71, 0.12) !important;
  color: #283447 !important;
}

.container-index {
  max-width: 1200px;
}

.main__banner {
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border: 1px solid rgba($primary, 0.1);

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 40px;
  .lead {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.table td,
.table th {
  vertical-align: middle;
}

.required__box {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

  .modal-header {
    padding: 15px 20px;
    background-color: $primary;
    color: white;
  }
  .modal-title {
    color: white;
  }
  .modal .close {
    background: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255,255,255,0.6);
    opacity: 1;
  }
