html,
body {
  font-size: 15px;
  -webkit-tap-highlight-color: rgba($pink, 0.05);
}

a {
  font-weight: normal;
  transition: all 0.05s ease-in;
}

.table {
  word-wrap: break-word;
}

.el-dialog__body {
  word-break: break-word;
}

.sm-gutters {
  margin-right: -8px;
  margin-left: -8px;

  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.b-avatar .b-avatar-img img {
  object-fit: cover;
}

.font-body {
  font-family: $font-family-base;
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  // background: #f7f7f7 url(loader.gif) no-repeat center;
}

.is-transition {
  transition: all 0.1s ease-in;
}

.bg-fixed {
  background-size: cover;
  background-attachment: fixed;
}

.bg-info-light {
  background-color: rgba(2, 182, 179, 0.12) !important;
  color: #1db9aa !important;
}
.bg-primary-light {
  background-color: rgba(17, 148, 247, 0.12) !important;
  color: #2196f3 !important;
}
.bg-danger-light {
  background-color: rgba(242, 17, 54, 0.12) !important;
  color: #e63c3c !important;
}
.bg-warning-light {
  background-color: rgba(255, 152, 0, 0.12) !important;
  color: #f39c12 !important;
}
.bg-success-light {
  background-color: rgba(15, 183, 107, 0.12) !important;
  color: #26af48 !important;
}
.bg-purple-light {
  background-color: rgba(197, 128, 255, 0.12) !important;
  color: #c580ff !important;
}
.bg-default-light {
  background-color: rgba(40, 52, 71, 0.12) !important;
  color: #283447 !important;
}

.container-index {
  max-width: 1200px;
}

.main__banner {
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  border: 1px solid rgba($primary, 0.1);

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 40px;
  .lead {
    font-size: 18px;
    margin-bottom: 0;
  }
}
.table td,
.table th {
  vertical-align: middle;
}

.required__box {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.modal-header {
  padding: 15px 20px;
  background-color: $primary;
  color: white;
}
.modal-title {
  color: white;
}
.modal .close {
  background: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.footer {
  background-color: #1e2127;
  color: white;
}

.page-footer-title {
  color: #fff;
  margin: 1em 0;
}

.section__title-icon {
  background-color: #14f3b0;
  height: 2px;
  position: relative;
  width: 60px;
}
.section__title-icon:after {
  background-color: #e9e9e9;
  content: "";
  height: 2px;
  position: absolute;
  right: 0;
  width: 50%;
}

.page-footer__icon {
  height: 1px;
  width: 80px;
}

.page-footer__icon:after {
  height: 1px;
  width: 70%;
}

.page-footer-item-icon {
  width: 20%;

  display: flex;

  align-items: center;

  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #373636;
  padding: 5px;
  margin-right: 10px;
}

.page-footer-item {
  color: #fff;
  width: 100%;
  min-height: 55px;
  padding: 5px 0;

  display: flex;

  justify-content: flex-start;

  align-items: center;
}

.page-footer-item-content {
  width: 80%;
}

.page-footer-item-content b {
  margin-right: 5px;
  font-size: 14px;
  color: #00b09a;
  font-weight: 400;
}

.page-footer-item-content .hotline__number {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.page-footer-connect-item-icon {

  display: flex;

  align-items: center;

  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  border: 1px solid #00b09a;
  background: #00b09a;
  color: #fff;
  padding: 5px;
  margin-right: 10px;
}

.page-footer-connect-items {

  display: flex;

  align-items: center;

  flex-direction: row;
}

.page-footer__benerfit {
  padding: 2px 0
}

.page-footer__benerfit i {
  color: #6d6d6d;
  font-size: 12px
}

.page-footer__benerfit a {
  color: #00b09a;
  font-size: 15px
}


.footer .footer-bottom .copyright-text p {
  color: rgba(255,255,255,0.7);
  font-size: 13px;
  text-align: center;
}

.footer .footer-bottom .copyright {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 15px 0;
}
.footer .footer-top {
  padding: 20px 0;
}

.table-action{
  display: flex;
  align-items: center;
}

.card-table .table td, .card-table .table th {
  // border-top: 1px solid #e2e5e8;
  // padding: 1rem 0.75rem;
  white-space: inherit !important;
}