@import "bootstrap/scss/_functions.scss"; // From bootstrap node module
@import "bootstrap/scss/_variables.scss"; // From bootstrap node module
@import "bootstrap-override/variables-bootstrap";
@import "bootstrap-override/variables-theme";
@import "user-variables";

//Import Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index";

//Style Bootstrap components
@import "vendor/index";
@import "vendor/lunar/lunar";

@import "components/global";
@import "components/icons";
@import "components/embed";

@import "pages/home";
@import "pages/thongtinbacsi";
@import "pages/hoibacsi";
@import "pages/xemketqua";

body,
html {
  font-size: 14px;
}

.modal-benhvien {
    word-break: break-word;
  .el-dialog__header {
    background-color: $primary;
    color: white;
    padding: 15px 20px;
  }
  .el-dialog__title {
    font-family: "Playfair Display", serif;
    color: white;
  }
  .el-dialog__headerbtn .el-dialog__close{
      color: white;
      display: none;
  }
}
