.kq-filter {
}

.kq__box {
  border: 1px solid #dfe1e5;
  border-radius: 3px;
  box-shadow: none;
  // cursor: pointer;
  opacity: 1;
  overflow: hidden;
  background-color: white;
  @include hover-focus() {
    border-color: $primary;
    .kq__overlay {
      opacity: 1;

      transition: 0.3s all ease;
    }
  }
}

.kq__overlay {
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 5;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s all ease;
}

.kq__box__body {
  position: relative;
}

.kq__box__footer {
}

.kq__box__img {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    padding-top: percentage(0.6);
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.kq__box__footer {
  padding: 15px 15px;
  .tt {
    font-weight: bold;
    font-size: 15px;
    padding: 13px 0;
  }
  .ff {
    padding: 13px 0;
  }
}

.kq-title {
  font-size: 18px;
  font-weight: bold;
}

.box-listed {
  .box-item-list {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    > li {
      border-bottom: 1px solid #eeeeee;
      padding: 20px;
    }
    > li:last-child {
      border-bottom: none;
    }

    > li{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    .ic{
      flex: 0 0 30px;
      font-size: 24px;
      color: gray("600");
    }
    .date{
      flex: 0 0 150px;
    }
    .name{
      flex: 1;
      min-width: 0;
      font-size: 15px;
      font-weight: bold;
    }
    .func{
      flex: 0 0 170px;
    }
  }
}

.box-listed .box-title-list {
  background-color: rgba(236, 237, 240, 0.6);
  border: 1px solid #eeeeee;
  border-bottom: none;
  padding: 20px 23px;
}


.required__box{
  padding: 15px 15px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid rgba($primary,0.3);
  background-color: rgba($primary,0.05);;
}

.info__card{
  font-size: 13px;
  padding: 15px;
  background-color: gray("100");
}